@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#0b1120,#111827,#1f2937);
}

.container{
    width:90%;
    max-width:850px;
    text-align:center;

    background:#1e293b;
    border:1px solid #334155;
    border-radius:20px;

    padding:60px 40px;

    box-shadow:0 15px 40px rgba(0,0,0,.6);
}

h1{
    color:#f8fafc;
    font-size:42px;
    font-weight:700;
    margin-bottom:50px;
    text-shadow:0 0 12px #14b8a6;
}

.button-group{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.btn{
    width:220px;
    height:65px;

    border:none;
    border-radius:12px;

    color:white;
    font-size:20px;
    font-weight:600;

    cursor:pointer;
    transition:.35s;
}

/* Admin */

.admin{
    background:#b91c1c;
}

.admin:hover{
    background:#dc2626;
    transform:translateY(-6px);
    box-shadow:0 0 20px #dc2626;
}

/* Agent */

.agent{
    background:#15803d;
}

.agent:hover{
    background:#16a34a;
    transform:translateY(-6px);
    box-shadow:0 0 20px #22c55e;
}

/* Customer */

.customer{
    background:#1d4ed8;
}

.customer:hover{
    background:#2563eb;
    transform:translateY(-6px);
    box-shadow:0 0 20px #3b82f6;
}

a{
    text-decoration:none;
}




@media(max-width:768px){

    .container{
        padding:40px 20px;
    }

    h1{
        font-size:30px;
    }

    .button-group{
        flex-direction:column;
        align-items:center;
    }

    .btn{
        width:100%;
        max-width: none;
    }
}
