@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#200000,#420000,#750000);
    color:white;
}

/* Heading */

h1{
    font-size:42px;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 15px crimson;
    margin-bottom:40px;
}

/* Card Layout */

.d-flex{
    gap:30px;
}

/* Card */

.card{
    width:300px;
    border:none;
    border-radius:18px;
    overflow:hidden;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);

    box-shadow:0 15px 35px rgba(0,0,0,.5);

    transition:.4s;
}

.card:hover{
    transform:translateY(-12px);
    box-shadow:0 0 30px crimson;
}

/* Image */

.card img{
    height:220px;
    object-fit:cover;
}

/* Card Body */

.card-body{
    background:rgba(0,0,0,.25);
    color:white;
    text-align:center;
}

.card-title{
    font-size:24px;
    font-weight:600;
}

.card-text{
    color:#ddd;
}

/* Button */

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;

    background:linear-gradient(45deg,#ff1e1e,#c70039);

    color:white;
    font-weight:600;
    letter-spacing:.5px;

    cursor:pointer;
    transition:.3s;
}

button:hover{

    background:linear-gradient(45deg,#69ff3b,#ff1744);

    transform:scale(1.05);

    box-shadow:0 0 20px crimson;
}

/* Table */

table{
    width:90%;
    margin:40px auto;

    border-collapse:collapse;

    overflow:hidden;

    border-radius:15px;

    background:white;

    color:black;

    box-shadow:0 0 25px rgba(0,0,0,.5);
}

th{
    background:#f10303a8;
    color:white;
    padding:15px;
}

td{
    padding:14px;
}

tr:nth-child(even){
    background:#f8d7da;
}

tr:hover{
    background:#ffd6db;
}

/* Footer */

footer{
    margin-top:60px;
    padding:20px;
    background:#2b0000;
    color:white;
    text-align:center;
}

/* Responsive */

@media(max-width:992px){

.card{
    width:45%;
}

}

@media(max-width:768px){

.card{
    width:100%;
}

h1{
    font-size:32px;
}

table{
    width:100%;
    font-size:14px;
}

}
